$base-path: "/Goyco-Services";
$primary: #2e80ad;
$primary-other: #2277aa;
$primary-main: #0f568b;
$primary-secondary: #0e568c;
$secondary: #ff8a24;
$secondary-hover: #ff7710;
$text: #5b6472;
$light: #f9f5f3;
$white: #ffffff;

$heading-font:
  "Zoho Puvi", "Mulish", "Plus Jakarta Sans", "Atkinson Hyperlegible",
  sans-serif;
$body-font: "Zoho Puvi", "Mulish", "Urbanist", sans-serif;
$font-family-sans-serif: $heading-font;
$font-family-monospace: $heading-font;
$body-color: #1a1a1a;
$link-active-color: #0000004d;
$nav-link-font-weight: 800;
$body-bg: $white;
